@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(../fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: FjallaOne;
  src: local("FjallaOne"), url(../fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: Anton;
  src: local("Anton"), url(../fonts/Anton-Regular.ttf);
}

:root {
  --primary: #23374f;
  --primary-saturated: hsl(from var(--primary) h 85% l);
  --primary-light: #8392a3;
  --secondary: #a33d34;
  --off-white: #f0f0f0;
}

#intro {
  h2 {
    color: hsl(from var(--secondary) h 80% l);
  }
}

#cause {
  --section-bg-color: var(--primary-saturated);
  background-image: url(../img/black-orchid.png);
  --header-color: var(--off-white);
  color: var(--off-white);
  font-weight: 500;
}

.primary {
  color: var(--primary);
}

.primary-light {
  color: var(--primary-light);
}

.secondary {
  color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color, black);
  font-family: "Anton", sans-serif;
  font-weight: 500;
  line-height: 1.2;

  strong {
    color: contrast-color(var(--section-bg-color), white);
    display: block;
    font-weight: 300;
    font-size: 60%;
    opacity: 0.7;
  }
}

h1 {
  font-size: clamp(22px, 7rem, 13vw);
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  padding-bottom: 3rem;
}

p {
  font-family: Nunito, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  em {
    font-weight: 300;
  }
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  &[target="_blank"]::after {
    content: " ↗";
  }
  &:hover {
    text-decoration: underline;
  }
}

main {
  & section {
    --section-bg-color: white;
    background-color: var(--section-bg-color);
    padding: 30px 15px;
  }
  & section:first-of-type {
    padding-top: 60px;
  }
  @media (width > 600px) {
    & section {
      padding: 30px 10%;
    }
  }
}

.hero {
  height: 100svh;
  position: relative;
  #heroVid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  .headline {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    h1 {
      color: white;
      text-transform: uppercase;
      margin: 80px auto;
      width: 66%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero {
    background-image: url(../video/coast_of_jpn_fallback.jpeg);
    background-position: center;
    background-size: cover;
  }

  #heroVid {
    display: none;
  }
}

.mainnav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: hsl(from var(--primary) h s l / 90%);
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  & li {
    display: inline;
    padding: 10px 5px 10px 5px;
  }
  & a {
    font-size: large;
    color: whitesmoke;
  }
}

footer {
  color: whitesmoke;
  background-color: black;
  padding: 40px 15vw;
}

.two-col-grid {
  display: grid;
  gap: 2rem;
  @media (width > 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.col-span-two {
  grid-column: span 2;
}

.row-span-two {
  grid-row: span 2;
}

.two-thirds-grid {
  display: grid;
  gap: 2rem;
  @media (width > 800px) {
    grid-template-columns: 2fr 1fr;
  }
}

.timeline {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000000;
  & .tl-multi details {
    padding-top: 14px;
  }
  & .tl-pretext h3 {
    font-family: Roboto, sans-serif;
    font-size: 16.8px;
    font-weight: 700;
  }
  & .tl-pretext *:not(details, details *) {
    padding-left: 2rem;
  }
  & ul {
    margin: 0;
    margin-top: 100px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    font-size: 14px;
  }
  & li {
    position: relative;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    box-shadow:
      0 0 4px rgba(0, 0, 0, 0.12),
      0 2px 2px rgba(0, 0, 0, 0.08);
    & > span {
      width: 2px;
      height: 100%;
      left: -30px;
      top: 0;
      position: absolute;
    }
    & > span:before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 3px solid #000000;
      position: absolute;
      background: white;
      top: -2px;
      left: -6.5px;
    }
  }
  & li:not(:last-child):before {
    content: "";
    width: 2px;
    height: calc(100% + 40px);
    position: absolute;
    top: 0;
    left: -30px;
    border-left: 3px solid #000000;
  }
  & li:not(:first-child) {
    margin-top: 40px;
  }
  span.number span {
    position: absolute;
    width: 50px;
    font-size: 1.1rem;
    text-align: right;
    top: -6px;
    left: -60px;
  }
}

summary {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.2em;
  display: block;
  padding-left: 2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 20%;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details {
  & summary::-webkit-details-marker {
    display: none;
  }
  & .content {
    padding: 10px;
    padding-left: 2rem;
  }
  & p {
    margin: 0;
    padding-bottom: 10px;
  }
  & p:last-child {
    padding: 0;
  }
}

details[open] > summary:before {
  transform: rotate(90deg);
}
